.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    animation: fadeIn 1s ease forwards;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--primary-color--black);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.inputContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: var(--primary-color-blue);
}

.button {
    padding: 15px;
    background-color: var(--primary-color-blue);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color--blue-dark);
}

.error {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary-color-blue);
    animation: float 5s infinite alternate;
}

.container::before {
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    animation-delay: 1s;
    opacity: 0.8;
}

.container::after {
    bottom: -100px;
    right: -100px;
    width: 300px;
    height: 300px;
    animation-delay: 2s;
    opacity: 0.5;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}