body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

:root {
  --primary-color-blue: #007bff;
  --primary-color--blue-dark: #0056b3;

  --primary-color-red: #ff6b6b;
  --primary-color-red-dark: #f94c4c;

  --primary-color-green: #00cc00;
  --primary-color-green-dark: #19692c;

  --primary-color-black: #333;
  --primary-color-black-dark: #222;

}